.contenedor-integrantes .col-lg-6 {
    margin-bottom: 3.5rem;
    text-align: center;
    margin-top: 20px;
  }
  
  .contenedor-integrantes h2 {
    font-weight: 20;
  }
  
  .container{
    width:  70%;
   
  }
  
  .c1{
    display: inline-block;
  }
  
  .gustos {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  .gusto {
    width: 20%;
  }

  .carousel-inner{
    color: aliceblue;
    font-size: medium;
    margin-left: 440px;
    width: 70%;
    height: 100%;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 0%;
    margin-left: 15%;    
  }
  
  .carousel{
    justify-content: center;
  }
  /* header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
  } */

  .tamcarr
  {
    margin-top: 15%;
  }

  .fondo{
    background-image: url("../statics/images/Imagenes/fondoB.jpg");
    max-width: 100%;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 0%;
    
  }

  .fondo2{
    background-image: url("../statics/images/Imagenes/FondoCliente.jpg");
    max-width: 100%;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 0%;
    
  }
  
  .fondo3{
    background-image: url("../statics/images/Imagenes/FondoM.gif");
    max-width: 100%;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 0%;
  }

  .fondo4{
    background-image: url("../statics/images/Imagenes/ciclismofon.jpg");
    max-width: 100%;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 0%;
    
  }
  .card {
    width: 100%;
    height: 600px;
    background: lightgrey;
    overflow: hidden;
    display: flex;
    margin-left: 60%;
  }

  
  .letras{
    font-family:sans-serif;
    font-size: 100%;
    margin-top: 80%;
  }
  .letras2{
    font-family:sans-serif;
    font-size: 100%;
    margin-top: 55%;
    margin-right: 35%;
  }

  .giffot{
  width: 10%;
  margin-left: 5%;
  }

  .circles,
  .browser {
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .circles {
    width: 20%;
    gap: 8px;
    padding: 10px;
  }
  
  .c {
    width: 09px;
    height: 9px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
  }
  
  .c:first-child {
    background-color: red;
  }
  
  .c:nth-child(2) {
    background-color: rgb(204, 167, 4);
  }
  
  .c:last-child {
    background-color: green;
  }
  
  .browser {
    width: 80%;
    padding: 5px;
    display: flex;
    gap: 10px;
  }
  
  .chevrons {
    display: flex;
  }
  
  .search-bar {
    position: relative;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(88, 88, 88);
    box-shadow: inset 2px 2px 2px #05050525;
  }
  
  .search-bar svg {
    position: absolute;
    left: 10px;
  }

  /* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



